body {
  padding-top: 73px;
  padding-bottom: 196px;
  }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-right: 0;
  padding-left: 0;
  }

/*----- Header -----*/
/* Header auction*/
.header-auction {
  background-color: #fff;
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
  padding: 3px 5px 3px 4px;
  }
.header-auction-lining {
  display: table;
  height: 61px;
  width: 100%;
  }
.header-auction-item {
  display: table-cell;
  float: none !important; /* fix bootstrap.min.css */
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  }
.header-auction-item-visual {
  display: block;
  max-height: 61px;
  line-height: 1.1em;
  overflow: hidden;
  }

/* Navigation button */
.header-auction-nav {
  width: 40px;
  }
.header-auction-nav .navbar-toggle {
  margin: 0;
  padding: 0 5px 2px 0;
  }
.header-auction-nav .navbar-toggle .icon-bar {
  background-color: #4c4c4c;
  border-radius: 6px;
  display: block;
  height: 8px;
  width: 36px;
  }
/*.header-auction .navbar-collapse {
  -webkit-box-shadow: 0 8px 6px -6px #aaa;
  -moz-box-shadow: 0 8px 6px -6px #aaa;
  box-shadow: 0 8px 6px -6px #aaa;
  }*/

/* Timer */
.round-info {
  font-size: 17px;
  padding: 0 0 0 10px;
  }
.timer-item {
  font-size: 23px;
  }

/* Round information */
.round-information {
  background-color: #a1a1a1;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  width: 80px;
  padding: 0 6px;
  }
.round-number{
  font-size: 23px;
  }
.round-information p {
  margin: 0;
  }

/* Progress bar */
.progress-fixed-top {
  height: 5px;
  left:0;
  position:fixed;
  top: 68px;
  width:100%;
  z-index: 1030;
  }

/*----- Stage -----*/
.stage-item {
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0 0 1px 0;
  font-size: 18px;
  padding: 0 0 0 5px;
  }
.stage-round {
  padding: 0 0 0 2px;
  }
.stage-item-lining,
.stage-info-lining {
  display: table;
  width: 100%;
  }
.stage-icon {
  background-image: url(../../static/img/future_stage.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 36px 36px;
  display: table-cell;
  height: 37px;
  vertical-align: middle;
  width: 37px;
  }
.stage-icon-visual {
  display: table-cell;
  height: 37px;
  padding-top: 5px;
  vertical-align: middle;
  width: 37px;
  }
.stage-icon-svg {
  width: 37px;
  height: 37px;
  }
.past-round .past-stage .stage-icon {
  background-image: url(../../static/img/past_round_stage.png);
  }
.current-round .past-stage .stage-icon {
  background-image: url(../../static/img/past_stage.png);
  }
.current-round .current-stage .stage-icon {
  background-image: url(../../static/img/current_stage.png);
  }
.current-round .current-stage .stage-amount {
  color: #bbb;
  font-size: 16px;
  }
.stage-info {
  display: table-cell;
  padding: 0 0 0 5px;
  vertical-align: middle;
  }
.stage-info-item {
  display: table-cell;
  height: 45px;
  vertical-align: middle;
  }
.stage-label {
  line-height: 16px;
  padding: 0 5px 0 0;
  }
.stage-round .stage-label {
  font-weight: bold;
  height: 74px;
  }
.current-round .future-stage .stage-label {
  color: #333;
  }
.stage-item {
  position: relative;
  }
.stage-amount {
  border-radius: 6px 0 0 6px;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
  width: 150px;
  text-align: center;
  padding: 4px 5px 0;
  position: relative;
  }
.minimal-amount {
  background-color: #fcc;
  }
.label-minimum {
  color: #c00;
  display: block;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  padding: 2px 0 0;
  }
.auction-with-two-prices .label-minimum {
  width: 100%;
  float: left;
  }
.auction-with-two-prices .label-price {
  width: 100%;
  float: left;
  }
#max-rounds .stage-label {
  font-weight: normal;
  line-height: 24px;
  }

/* Bids stage forecast*/
.future-stage {
  color: #bbb;
  }
.future-stage .stage-amount {
  font-size: 16px;
  }
.future-stage .minimal-amount {
  background-color: transparent;
  }
.future-stage .label-minimum {
  color: #fb8484;
  }
.current-round .current-stage .minimal-amount {
  background-color: #FFDFDF;
  }
.current-round .current-stage .label-minimum {
  color: #fb8484;
  }

/* Current stage*/
.my-bid-stage {
  background-color: #f2f2f2;
  overflow: hidden;
  }

/*----- Fixed bottom -----*/

.fixed-bottom {
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  border-radius: 0;
  }
.fixed-bottom .panel-body {
  padding: 15px 15px 20px;
  }
.full-price-group input,
.normalized-price-group input {
  border-radius: 0;
  }
/*.fixed-bottom.ng-hide:not(.ng-hide-animate) {*/
/*  display: block !important;*/
/*  }*/
.price-inform-block {
  float: left;
  width: 100%;
  padding-bottom: 2px;
  }
.main-price-block {
  display: block;
  float: left;
  width: 100%;
  }
.main-price-block .input-group-btn {
  width: 33.33333333%;
  text-align: right;
  }
.main-price-block .full-price-group span,
.main-price-block .normalized-price-group span {
  display: none;
  }
.full-price-group > span:first-child,
.normalized-price-group > span:first-child {
  font-weight: bold;
  }
.bidder-coeficient-wrap {
  padding: 7px 0;
  text-align: center;
  }
.full-price-group {
  padding-left: 0;
  }
.normalized-price-group {
  padding-left: 5px;
  }
.normalized-price {
  padding-bottom: 7px;
  }
.label-price .price-type {
  display: block;
  padding: 0px 0 6px;
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
#BidsForm label {
  font-size: 18px;
  font-weight: normal;
  }
#edit-bid-button,
#place-bid-button {
  margin-right: 15px;
  }
.btn {
  border-radius: 0;
  }
.auction-with-one-price .input-group-btn {
  padding-top: 0;
  }

/*Mobile view */
@media (max-width: 768px) {
.fixed-bottom .container {
  padding-right: 5px;
  padding-left: 5px;
  }
.stage-amount {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  }
.price-inform-block {
  display: none;
  }
.main-price-block .full-price-group span,
.main-price-block .normalized-price-group span {
  display: inline-block;
  }
.main-price-block {
  float: none;
  display: table;
  }
.main-price-block .input-group-btn {
  float: none !important;
  width: 1%;
  text-align: center;
  }
.normalized-price-group {
  padding-left: 0;
  }
.bidder-coeficient-wrap {
  padding: 5px 0;
  clear: both;
  }
.fixed-bottom .panel-body {
  padding: 10px 15px 5px;
  }
.round-information {
  width: auto;
  }
.round-number,
#round_information_block {
  font-size: 16px;
  font-weight: 700;
  }
#round_information_block {
  padding: 0 6px;
  }
.input-group-btn {
  padding: 24px 0 10px;
  display: table-cell;
  vertical-align: top;
  }
.bidder-coeficient-wrap {
  text-align: left;
  }
.full-price-group .max_bid_amount, .normalized-price-group .max_bid_amount {
  display: inline-block;
  }
.normalized-price-group .max_bid_amount {
  padding-left: 5px;
  }
/*.normalized-price-group.not-allow-bidding {*/
/*  margin-top: 5px;*/
/*  }*/
#cancel-bid-button,
#place-bid-button,
#edit-bid-button,
#clear-bid-button {
  border-radius: 0px;
  white-space: normal;
  float: left;
  padding: 6px 12px;
  }
#place-bid-button {
  margin-right: 0;
  }
#clear-bid-button {
  margin-top: 30px;
  }
#edit-bid-button {
  margin-top: 5px;
  }
.full-price-group span {
  padding-bottom: 2px;
  }
.header-auction-nav .navbar-toggle {
  padding: 0 0px 2px 0;
  }
.normalized-price-group span {
  float: left;
  }
.auction-with-one-price .input-group {
  display: block;
  }
.auction-with-one-price .input-group-btn {
  padding-top: 15px;
  clear: both;
  display: block;
  float: left;
  width: 100%;
  }
.auction-with-one-price #cancel-bid-button,
.auction-with-one-price #place-bid-button,
.auction-with-one-price #edit-bid-button,
.auction-with-one-price #clear-bid-button {
  white-space: nowrap;
  margin: 0 15px 0 0;
  }
#edit-bid-button {
  margin-top: 0;
  width: 100%;
  margin-bottom: 15px;
  }
#cancel-bid-button {
margin-top: 35px;
}
.auction-with-one-price #edit-bid-button {
  width: auto;
  }
}
@media (max-width: 480px) {

.full-price-group>span:first-child,
.normalized-price-group>span:first-child,
.full-price-group .max_bid_amount,
.normalized-price-group .max_bid_amount {
  display: block;
  width: 100%;
  }
#edit-bid-button {
  margin-top: 20px;
  }
.normalized-price-group .max_bid_amount {
  padding-left: 0;
  }
.input-group-btn {
  padding: 26px 0 10px;
  }
#clear-bid-button {
  margin-top: 70px;
  }
}
/*Desctop view */
@media (min-width: 768px) {
  /*----- Header -----*/
  /* Header auction*/
  .header-auction .navbar-toggle {
    display: block;
    }
  .header-auction .navbar-collapse.collapse {
    display: none !important; /* fix bootstrap.min.css */
    }
  .header-auction .navbar-collapse.collapse.in {
    display: block !important; /* fix bootstrap.min.css */
    }
  .default-amount {
    background-color: #f2f2f2;
    }
  /*----- Stage -----*/
  .stage-item {
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 5px 5px 5px 12px;
    }
  .stage-item.stage-round {
    border-width: 0;
    }
  .stage-icon {
    background-size: 46px 46px;
    height: 47px;
    width: 47px;
    }
  .stage-icon-visual,
  .stage-icon-svg {
    height: 47px;
    width: 47px;
    }
  .stage-info {
    padding: 0 0 0 16px;
    }
  .stage-info-item {
    height: 53px;
    }
  .stage-amount {
    border-radius: 6px;
    font-size: 22px;
    width: 360px;
    }
  .amount-currency {
    font-size: 16px;
    }
}
@media (min-width: 992px) {
  .container {
    width: 896px;
    }
  }
@media (min-width: 1200px) {
  .container {
    width: 896px;
    }
}

.growl-container.growl-fixed.top-center {
  top: 73px;
  left: 0;
  width: 100%;
  margin-left: 0;
  max-width: 100%;
}

.ng-aside.horizontal {
  transition: none;
  -webkit-transition: none;
  transform: none;
  -webkit-transform: none;
  height: 100%;
}

.ng-aside.horizontal.left.in {
  animation: fadeInLeft 150ms;
  -webkit-animation: fadeInLeft 150ms;
}

.ng-aside.horizontal .modal-dialog {
  position: fixed;
  top: 69px;
  height: 100%;
  margin: 0;
  padding: 0 0 69px;
  transition: none;
  -webkit-transition: none;
  transform: none;
  -webkit-transform: none;
}

.ng-aside.horizontal.left .modal-dialog {
  left: 0;
}

.ng-aside.horizontal .modal-dialog .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  overflow: auto;
}

.modal-backdrop{
  top: 70px;
}


.modal-dialog {
  width: 91.66666667%;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/static/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@media (min-width: 500px) {
  .modal-dialog {
    width: 458px;
  }

}


.tooltip{
  z-index: 1020;
}

.header-auction.navbar-fixed-top {
  z-index:99;
}