{% extends "base.html" %}
{% block head %}
    <base href="{{ request_base }}">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    {% assets "all_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% raw %}
    <title ng-bind-template="{{ time_in_title }} {{ info_timer.msg|translate}} - {{ title_ending }}" ng-if="!info_timer.start_time" >
        Аукціон
    </title>
    <title ng-bind-template="{{ $root.info_timer.msg|translate}} {{ format_date($root.info_timer.start_time, lang,'Do MMMM YYYY') }} {{'at'|translate}} {{ format_date($root.info_timer.start_time, lang,'HH:mm') }} - {{ title_ending }}" ng-if="(!$root.info_timer.countdown)&&($root.info_timer.start_time != true)" ></title>
    <title ng-bind-template="{{ $root.info_timer.msg|translate}} - {{ title_ending }}" ng-if="(!$root.info_timer.countdown)&&(info_timer.start_time == true)" ></title>
    {% endraw %}
    {% endblock %}

{% block body %}


<body>
    <noscript>
     For full functionality of this site it is necessary to enable JavaScript.
     Here are the http://www.enable-javascript.com
     instructions how to enable JavaScript in your web browser.
    </noscript>
    {% raw %}
    <div ng-if="document_not_found" translate ng-cloak>
        Not Found
    </div>
    <div ng-if="document_exists" ng-cloak>

    <div class="container">
        <div class="header-auction navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header header-auction-lining">
                <div class="header-auction-item header-auction-nav">
                    <button id="menu_button" type="button" class="navbar-toggle collapsed" ng-init="navbarCollapsed=true" ng-click="open_menu()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="header-auction-item navbar-brand pull-left round-info timer-text">
                    <span class="header-auction-item-visual">
                        <timer timerid="1" ng-if="!$parent.info_timer.start_time" countdown="$parent.info_timer.countdown" max-time-unit="second" interval="1000">
                            <span ng-show="days">
                                <span class="timer-item">{{days}}</span> {{'days'|translate}}
                            </span>
                            <span ng-show="hours">
                                <span class="timer-item">{{hours}}</span> {{'hours'|translate}}
                            </span>
                            <span ng-show="minutes&&!(days)">
                                <span class="timer-item">{{minutes}}</span> {{'minutes'|translate}}
                            </span>
                            <span ng-show="(!((days)||(hours)))">
                                <span class="timer-item">{{seconds}}</span> {{'seconds'|translate}}
                            </span>
                            <span ng-if="$parent.info_timer.msg">
                                {{ info_timer.msg|translate}}
                            </span>
                        </timer>
                        <span ng-if="!info_timer.countdown">
                            <span ng-if="$parent.info_timer.msg">
                                {{ info_timer.msg|translate}}
                            </span>
                            <span ng-if="$parent.info_timer.start_time != true">
                              {{ format_date($root.info_timer.start_time, lang,'Do MMMM YYYY') }} {{'at'|translate}} {{ format_date($root.info_timer.start_time, lang,'HH:mm') }}</span><span ng-if="$parent.info_timer.msg_ending">. {{ info_timer.msg_ending|translate}}.</span>
                        </span>
                    </span>
                </div>
                <div id="round_information_block" class="header-auction-item navbar-brand pull-right round-information" ng-if="get_round_number(auction_doc.current_stage).type == 'waiting'">
                    <p class="round-number" translate>Waiting</p>
                </div>
                <div id="round_information_block" class="header-auction-item navbar-brand pull-right round-information" ng-click="scroll_to_stage()" ng-if="get_round_number(auction_doc.current_stage).type == 'pause'">
                    <span class="round-number">
                        {{get_round_number(auction_doc.current_stage).data[0]}} &#8594; {{get_round_number(auction_doc.current_stage).data[1]}}
                    </span>
                </div>
                <div id="round_information_block" class="header-auction-item navbar-brand pull-right round-information" ng-click="scroll_to_stage()" ng-if="get_round_number(auction_doc.current_stage).type == 'round'">
                    <p class="round-label" translate>Round</p>
                    <p class="round-number">{{get_round_number(auction_doc.current_stage).data}}</p>
                </div>
                <div id="round_information_block" class="header-auction-item navbar-brand pull-right round-information" ng-click="scroll_to_stage()" ng-if="get_round_number(auction_doc.current_stage).type == 'finish'">
                    <p class="round-number" translate>Finish</p>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="navbarCollapsed">

            </div>
            <!--/.nav-collapse -->
        </div>
        <timer timerid="2" ng-if="$root.progres_timer.countdown_seconds" countdown="$root.progres_timer.countdown_seconds" interval="1000">
            <div class="progress progress-fixed-top">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{($parent.progres_timer.rounds_seconds - countdown)/$parent.progres_timer.rounds_seconds*100}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': ($parent.progres_timer.rounds_seconds - countdown)/$parent.progres_timer.rounds_seconds*100 + '%'}">
                </div>
            </div>
        </timer>
    </div>

    <div class="container">
        <div growl ></div>
        <div class="row">
            <div class="col-xs-12 hidden-xs">
                <div class="page-header">
                    <h2>{{ auction_doc.tenderID||"-" }}</h2>
                </div>
                <span class="lead">{{ ( auction_doc.procuringEntity['name_'+ lang]|| auction_doc.procuringEntity.name||auction_doc.procuringEntity.name_en||auction_doc.procuringEntity.name_ru||"-" ) | characters:100 :true }}: {{ (auction_doc['title_'+ lang]||auction_doc['title']||auction_doc['title_en']||auction_doc['title_ru']||"") | characters:300 :true }}<span ng-if="auction_doc.lot">: {{(auction_doc.lot['title_'+ lang]||auction_doc.lot['title']||auction_doc.lot['title_en']||auction_doc.lot['title_ru']||"") | characters:300 :true}}</span></span>
                <ul>
                    <li ng-repeat="item in auction_doc.items">
                        <span>{{ ( item['description_'+ lang] || item.description || item.description_en || item.description_ru || "-" ) | characters:500 :true  }}</span> - {{ item.quantity|formatnumber }} <span>{{item.unit['name_'+ lang]||item.unit.name||item.unit['name_en']||item.unit['name_ru']||item.unit.code||"-" }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="initial-bids-header" class="auction-round past-round" ng-if="auction_doc.current_stage >= 0" >
            <div class="row">
                <div class="col-xs-12 stage-item stage-round">
                    <div class="stage-item-lining">
                        <div class="stage-info">
                            <div class="stage-info-lining">
                                <span class="stage-info-item stage-label" ng-if="auction_doc.current_stage >= 0"><span translate>Initial bids</span></span>
                                <span class="stage-info-item stage-label" ng-if="auction_doc.current_stage == -1" translate>Bidders</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="initial-bid-{{ $index + 1 }}" class="row auction-stage stage-item stage-bids"
                 ng-repeat="bid_info in auction_doc.initial_bids"
                 ng-class="{'current-stage': auction_doc.current_stage == -1,
                            'past-stage':  auction_doc.current_stage > -1,
                            'my-bid-stage': bid_info.bidder_id == bidder_id}">
                <div class="stage-item-lining">
                    <i class="stage-icon"></i>
                    <div class="stage-info">
                        <div class="stage-info-lining" ng-class="{'auction-with-two-prices': auction_doc.auction_type == 'meat' && bid_info.bidder_id == bidder_id && !(auction_doc.current_stage == (auction_doc.stages.length - 1))}">
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id != bidder_id ">{{ bid_info.label[lang]||"-" }}</span>
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id == bidder_id " translate>You</span>
                            <span class="stage-info-item stage-amount"
                                  ng-if="!angular.isUndefined(bid_info['amount']||bid_info['amount_features'])"
                                  ng-class="{true: 'minimal-amount', false: 'default-amount'}[((bid_info.amount_features||bid_info.amount) == (minimal_bid.amount_features||minimal_bid.amount)) && bid_info.time == minimal_bid.time]">

                                <span ng-if="bid_info.bidder_id == bidder_id && auction_doc.auction_type == 'meat' && auction_doc.current_stage < (auction_doc.stages.length - 1)">
                                    <span class="label-price normalized-price">
                                        <span class="price-type" translate>Normilized Price</span>
                                        {{ bid_info['amount_features']|fraction }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                    <span class="label-price full-price" >
                                        <span class="price-type" translate>Full Price</span>
                                        {{ bid_info['amount_features']|fraction:bidder_coeficient }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                </span>

                                <span ng-if="bid_info.bidder_id != bidder_id && auction_doc.auction_type == 'meat' && auction_doc.current_stage < (auction_doc.stages.length - 1)">
                                    <span class="label-price">
                                        <span class="price-type" translate>Normilized Price</span>
                                        {{ bid_info['amount_features']|fraction }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                </span>

                                <span ng-if="auction_doc.auction_type == 'meat' && auction_doc.current_stage == (auction_doc.stages.length - 1)" tooltip="{{ bid_info['amount'] }} / {{ bid_info['coeficient']| eval_string }} = {{ bid_info['amount_features']|eval_string }}" tooltip-trigger="click" tooltip-placement="bottom">
                                    <span class="label-price">
                                        {{ bid_info['amount']|fraction }} <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount'])">{{ auction_doc.minimalStep.currency|translate }}</span> / {{ bid_info['coeficient']|fraction }}
                                    </span>
                                </span>
                                <span ng-if="(auction_doc.auction_type||'default') == 'default'">
                                    <span class="label-price">
                                        {{ bid_info['amount']|fraction }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                </span>

                                <span class="label-minimum" ng-if="((bid_info.amount_features||bid_info.amount) == (minimal_bid.amount_features||minimal_bid.amount)) && bid_info.time == minimal_bid.time">{{ minimum_msg|translate }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="auction_doc.current_stage >= 0"
             class="auction-round"
             id="round-header-{{$index + 1}}"
             ng-class="{'past-round':  (auction_doc.current_stage > (stage + auction_doc.initial_bids.length)),
                        'current-round': ((auction_doc.current_stage >= stage)&&(auction_doc.current_stage <= (stage + auction_doc.initial_bids.length))),
                        'future-round': auction_doc.current_stage < (stage + auction_doc.initial_bids.length)}"
             ng-repeat="stage in Rounds">
            <div class="row">
                <div class="col-xs-12 stage-item stage-round">
                    <div class="stage-item-lining">
                        <div class="stage-info">
                            <div class="stage-info-lining">
                                <span class="stage-info-item stage-label" ><span translate>Round</span> {{ $index + 1}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="stage-{{ stage + $index + 1 }}" class="row auction-stage stage-item stage-bids"
                 ng-repeat="initial_bid in auction_doc.initial_bids"
                 ng-class="{'current-stage svg': auction_doc.current_stage == (stage + $index + 1),
                            'future-stage':  auction_doc.current_stage < (stage + $index + 1),
                            'past-stage':  auction_doc.current_stage > (stage + $index + 1),
                            'my-bid-stage': auction_doc.stages[stage + $index + 1].bidder_id == bidder_id}">
                <div ng-if="$first" id="stage-{{ stage + $index}}"></div>
                <div class="stage-item-lining">
                    <i ng-if="auction_doc.current_stage != (stage + $index + 1)" class="stage-icon"></i>
                    <div class="stage-icon-visual" ng-if="auction_doc.current_stage == (stage + $index + 1)">
                        <svg class="stage-icon-svg" viewbox="0 0 48 48">
                              <svg-timer></svg-timer>
                        </svg>
                    </div>
                    <div class="stage-info">
                        <div class="stage-info-lining" ng-class="{'auction-with-two-prices': auction_doc.auction_type == 'meat' && auction_doc.stages[stage + $index + 1].bidder_id == bidder_id && !(auction_doc.current_stage == (auction_doc.stages.length - 1))}">
                            <span class="stage-info-item stage-label" ng-if="auction_doc.stages[stage + $index + 1].bidder_id != bidder_id ">{{ auction_doc.stages[stage + $index + 1].label[lang] }}</span>
                            <span class="stage-info-item stage-label" ng-if="auction_doc.stages[stage + $index + 1].bidder_id == bidder_id " translate>You</span>
                            <span class="stage-info-item stage-amount"
                                  ng-if="(auction_doc.stages[stage + $index + 1]['type'] == 'bids')&&(!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount_features']||auction_doc.stages[stage + $index + 1]['amount']))"
                                  ng-class="{true: 'minimal-amount', false: 'default-amount'}[((auction_doc.stages[stage + $index + 1].amount_features||auction_doc.stages[stage + $index + 1].amount) == (minimal_bid.amount_features||minimal_bid.amount)) && auction_doc.stages[stage + $index + 1]['time'] == minimal_bid.time]">

                                <span class="label-price" ng-if="auction_doc.stages[stage + $index + 1]['changed']">

                                    <span ng-if="auction_doc.stages[stage + $index + 1].bidder_id == bidder_id && auction_doc.auction_type == 'meat' && (auction_doc.current_stage < (auction_doc.stages.length - 1))">
                                        <strong class="label-price normalized-price">
                                            <span class="price-type" translate>Normilized Price</span>
                                            {{ auction_doc.stages[stage + $index + 1]['amount_features']|fraction }}
                                            <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                        </strong>
                                        <strong class="label-price full-price" >
                                            <span class="price-type" translate>Full Price</span>
                                            {{ auction_doc.stages[stage + $index + 1]['amount_features']|fraction:bidder_coeficient }}
                                            <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                        </strong>
                                    </span>
                                    <span ng-if="auction_doc.stages[stage + $index + 1].bidder_id != bidder_id && auction_doc.auction_type == 'meat' && (auction_doc.current_stage < (auction_doc.stages.length - 1))">
                                        <strong>
                                            <span class="price-type" translate>Normilized Price</span>
                                            {{ auction_doc.stages[stage + $index + 1]['amount_features']|fraction }}
                                        </strong>
                                    </span>

                                    <span ng-if="(auction_doc.auction_type == 'meat') && (auction_doc.current_stage == (auction_doc.stages.length - 1))" tooltip="{{ auction_doc.stages[stage + $index + 1]['amount'] }} / {{ auction_doc.stages[stage + $index + 1]['coeficient']| eval_string }} = {{ auction_doc.stages[stage + $index + 1]['amount_features']|eval_string }}" tooltip-trigger="click" tooltip-placement="bottom">
                                        <strong class="label-price">
                                            {{ auction_doc.stages[stage + $index + 1]['amount']|fraction }} <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount'])">{{ auction_doc.minimalStep.currency|translate }}</span> / {{ auction_doc.stages[stage + $index + 1]['coeficient']|fraction }}
                                        </strong>
                                    </span>

                                    <span ng-if="(auction_doc.auction_type||'default') == 'default'">
                                        <strong class="label-price">
                                            {{ auction_doc.stages[stage + $index + 1]['amount']|fraction }}
                                            <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                        </strong>
                                    </span>
                                </span>

                                <span class="label-price" ng-if="!auction_doc.stages[stage + $index + 1]['changed']">

                                    <span ng-if="auction_doc.stages[stage + $index + 1].bidder_id == bidder_id && auction_doc.auction_type == 'meat' && auction_doc.current_stage < (auction_doc.stages.length - 1)">
                                        <span class="label-price normalized-price">
                                            <span class="price-type" translate>Normilized Price</span>
                                            {{ auction_doc.stages[stage + $index + 1]['amount_features']|fraction }}
                                            <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                        </span>
                                        <span class="label-price full-price" >
                                            <span class="price-type" translate>Full Price</span>
                                            {{ auction_doc.stages[stage + $index + 1]['amount_features']|fraction:bidder_coeficient }}
                                            <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                        </span>
                                    </span>
                                    <span ng-if="auction_doc.stages[stage + $index + 1].bidder_id != bidder_id && auction_doc.auction_type == 'meat' && auction_doc.current_stage < (auction_doc.stages.length - 1)">
                                        <span>
                                            <span class="price-type" translate>Normilized Price</span>
                                            {{ auction_doc.stages[stage + $index + 1]['amount_features']|fraction }}
                                            <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                        </span>
                                    </span>


                                    <span ng-if="auction_doc.auction_type == 'meat' && (auction_doc.current_stage == (auction_doc.stages.length - 1))" tooltip="{{ auction_doc.stages[stage + $index + 1]['amount'] }} / {{ auction_doc.stages[stage + $index + 1]['coeficient']| eval_string }} = {{ auction_doc.stages[stage + $index + 1]['amount_features']|eval_string }}" tooltip-trigger="click" tooltip-placement="bottom">
                                        <span class="label-price">
                                            {{ auction_doc.stages[stage + $index + 1]['amount']|fraction }} <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount'])">{{ auction_doc.minimalStep.currency|translate }}</span> / {{ auction_doc.stages[stage + $index + 1]['coeficient']|fraction }}
                                        </span>
                                    </span>

                                    <span ng-if="(auction_doc.auction_type||'default') == 'default'">
                                        <span class="label-price">
                                            {{ auction_doc.stages[stage + $index + 1]['amount']|fraction }}
                                            <span class="amount-currency" ng-if="!angular.isUndefined(auction_doc.stages[stage + $index + 1]['amount'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                        </span>
                                    </span>
                                </span>

                                <span class="label-minimum" ng-if="((auction_doc.stages[stage + $index + 1].amount_features||auction_doc.stages[stage + $index + 1].amount) == (minimal_bid.amount_features||minimal_bid.amount)) && (auction_doc.stages[stage + $index + 1]['time'] == minimal_bid.time)">{{ minimum_msg|translate }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auction-round"
            id="results-header"
            ng-if="auction_doc.current_stage >= 0"
            ng-class="{'current-round': (auction_doc.stages[auction_doc.current_stage].type||'').indexOf('announcement') != -1,
                       'future-round': (auction_doc.stages[auction_doc.current_stage].type||'').indexOf('announcement') == -1}">
            <div id="max-rounds" class="row"
                ng-if="auction_doc.auctionOptions && auction_doc.auctionOptions.maxRounds > 3">
                <div class="col-xs-12 stage-item stage-round">
                    <div class="stage-item-lining">
                        <div class="stage-info">
                            <div class="stage-info-lining">
                                <span class="stage-info-item stage-label">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span translate>Attention! This auction can continue up to</span>
                                    <strong>{{ auction_doc.auctionOptions.maxRounds }} <span translate>rounds</span></strong>.<br>
                                    <span translate>In case of absence of new bids, the auction will be completed.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 stage-item stage-round">
                    <div class="stage-item-lining">
                        <div class="stage-info">
                            <div class="stage-info-lining">
                                <span ng-if="(auction_doc.stages[auction_doc.current_stage].type||'').indexOf('announcement') != -1" class="stage-info-item stage-label" ><span translate>Announcement</span></span>
                                <span ng-if="(auction_doc.stages[auction_doc.current_stage].type||'').indexOf('announcement') == -1" class="stage-info-item stage-label" ><span translate>Possible results</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row auction-stage stage-item stage-bids past-stage"
                 ng-class="{'past-stage': (auction_doc.stages[auction_doc.current_stage].type||'').indexOf('announcement') != -1,
                            'future-stage': (auction_doc.stages[auction_doc.current_stage].type||'').indexOf('announcement') == -1}"
                 ng-repeat="bid_info in auction_doc.results">
                <div class="stage-item-lining">
                    <i class="stage-icon"></i>
                    <div class="stage-info">
                        <div class="stage-info-lining" ng-class="{'auction-with-two-prices': auction_doc.auction_type == 'meat' && bid_info.bidder_id == bidder_id}">
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id != bidder_id ">{{ bid_info.label[lang] }}</span>
                            <span class="stage-info-item stage-label" ng-if="bid_info.bidder_id == bidder_id " translate>You</span>
                            <span class="stage-info-item stage-amount"
                                  ng-if="!angular.isUndefined(bid_info['amount_features']||bid_info['amount'])"
                                  ng-class="{true: 'minimal-amount', false: 'default-amount'}[((bid_info.amount_features||bid_info.amount) == (minimal_bid.amount_features||minimal_bid.amount)) && bid_info.time == minimal_bid.time]">

                                <span ng-if="bid_info.bidder_id == bidder_id && auction_doc.auction_type == 'meat' && auction_doc.current_stage < (auction_doc.stages.length - 1)">
                                    <span class="label-price normalized-price">
                                        <span class="price-type" translate>Normilized Price</span>
                                        {{ bid_info['amount_features']|fraction }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                    <span class="label-price full-price" >
                                        <span class="price-type" translate>Full Price</span>
                                        {{ bid_info['amount_features']|fraction:bidder_coeficient }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                </span>

                                <span ng-if="bid_info.bidder_id != bidder_id && auction_doc.auction_type == 'meat' && auction_doc.current_stage < (auction_doc.stages.length - 1)">
                                    <span class="label-price">
                                        <span class="price-type" translate>Normilized Price</span>
                                        {{ bid_info['amount_features']|fraction }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount_features'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                </span>

                                <span ng-if="auction_doc.auction_type == 'meat' && (auction_doc.current_stage == (auction_doc.stages.length - 1))" tooltip="{{ bid_info['amount'] }} / {{ bid_info['coeficient']| eval_string }} = {{ bid_info['amount_features']|eval_string }}" tooltip-trigger="click" tooltip-placement="bottom">
                                    <span class="label-price">
                                        {{ bid_info['amount']|fraction }} <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount'])"> {{ auction_doc.minimalStep.currency|translate }}</span> / {{ bid_info['coeficient']|fraction }}
                                    </span>
                                </span>
                                <span ng-if="(auction_doc.auction_type||'default') == 'default'" ng>
                                    <span class="label-price">
                                        {{ bid_info['amount']|fraction }}
                                        <span class="amount-currency" ng-if="!angular.isUndefined(bid_info['amount'])">{{ auction_doc.minimalStep.currency|translate }}</span>
                                    </span>
                                </span>
                                <span class="label-minimum" ng-if="((bid_info.amount_features||bid_info.amount) == (minimal_bid.amount_features||minimal_bid.amount)) && bid_info.time == minimal_bid.time">{{ minimum_msg|translate }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="auction_doc.current_stage == (auction_doc.stages.length - 1)">
            <br/>
            <a ng-if="return_url" class="btn btn-block btn-success" href="{{ return_url }}" translate>Return to Tender</a>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-show="((auction_doc.current_stage < 0)&&bidder_id)||follow_login_allowed" class="panel panel-default bg-warning fixed-bottom">
            <div class="panel-body bg-warning">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-if="!bidder_id" class="container text-center">
                            <h4 id="wait-to-login-msg" translate ng-if="!follow_login">Login is currently closed.</h4>
                            <a ng-href="{{login_url}}" ng-if="!follow_login" translate>Please try again later.</a>
                            <a ng-href="{{login_url}}" class="btn btn-success btn-lg btn-block" ng-if="follow_login"><span  translate>Login</span></a>

                        </div>
                        <div ng-if="bidder_id && auction_doc.current_stage < 0" class="container text-center">
                            <h4 id="registered-bidder-msg" translate ng-if="!follow_login">You are registered as a bidder. Wait for the start of the auction.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="view_bids_form" class="panel panel-default bg-warning fixed-bottom" ng-class="{'auction-with-one-price': (auction_doc.auction_type||'default') == 'default'}">
            <div class="panel-body bg-warning">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="container">
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="bids-form-alert" close="closeAlert(alert.msg_id)"><span class="bids-form-alert-msg">{{ alert.msg | translate }}</span></alert>
                            <form id="BidsForm" name="form.BidsForm" role="form">
                                <label for="bid"><span translate>Your proposal</span>:</label>
                                <span ng-init="max_bid_amount()" class="max_bid_amount" id="max_bid_amount" ng-if="(auction_doc.auction_type||'default') == 'default'"><span id="max_bid_amount_price">{{ calculated_max_bid_amount|fraction }}</span> {{ or_lower_msg|translate }}</span>
                                <div class="price-inform-block" ng-if="auction_doc.auction_type == 'meat'">
                                    <div class="col-md-5 col-sm-5 full-price-group">
                                        <span translate ng-if="auction_doc.auction_type == 'meat'">Full Price</span>
                                        <span ng-init="max_bid_amount()" class="max_bid_amount" ng-if="auction_doc.auction_type == 'meat'"><span>{{ calculated_max_bid_amount|fraction }}</span> {{ or_lower_msg|translate }}</span>
                                    </div>
                                    <div class="col-md-5 col-sm-5 normalized-price-group">
                                        <span translate>Normilized Price</span>
                                        <span ng-init="max_bid_amount()" class="max_bid_amount"><span>{{ calculated_max_bid_amount/bidder_coeficient|fraction }}</span> {{ or_lower_msg|translate }}</span>
                                    </div>
                                </div>
                                <div class="input-group main-price-block">
                                    <div class="full-price-group" ng-class="{'col-md-3 col-sm-3 col-xs-11': auction_doc.auction_type == 'meat', 'col-md-8 col-sm-8': (auction_doc.auction_type||'default') == 'default'}" >
                                        <span translate ng-if="auction_doc.auction_type == 'meat'">Full Price</span>
                                        <span ng-init="max_bid_amount()" class="max_bid_amount" ng-if="auction_doc.auction_type == 'meat'"><span>{{ calculated_max_bid_amount|fraction }}</span> {{ or_lower_msg|translate }}</span>
                                        <input id="bid-amount-input" ng-disabled="!allow_bidding" min="0" ng-focus="$root.form.bid_temp = $root.form.bid" ng-blur="set_bid_from_temp()" ng-change="calculate_bid_temp()" class="form-control" id="bid" name="bid" ng-model="$root.form.bid" required format>
                                    </div>
                                    <div class="bidder-coeficient-wrap col-md-2 col-sm-2 col-xs-11" ng-if="auction_doc.auction_type == 'meat'">
                                        <span translate>Bidder Coeficient</span>
                                        <span id="bid-amount-description" ng-if="bidder_coeficient && !$root.normilized" tooltip="x {{bidder_coeficient| fraction_string}}" tooltip-trigger="focus"> {{bidder_coeficient| fraction}}</span>
                                    </div>
                                    <div class="normalized-price-group col-xs-11 col-md-3 col-sm-3" ng-class="{'not-allow-bidding': !allow_bidding}" ng-if="auction_doc.auction_type == 'meat' ">
                                        <span translate>Normilized Price</span>
                                        <span ng-init="max_bid_amount()" class="max_bid_amount" ><span>{{ calculated_max_bid_amount/bidder_coeficient|fraction }} </span> {{ or_lower_msg|translate }}</span>
                                        <input id="bid-amount-full-price" ng-disabled="!allow_bidding" ng-if="bidder_coeficient && !$root.normilized" ng-focus="$root.form.full_price_temp = $root.form.full_price" ng-blur="form.full_price = form.full_price_temp" ng-change="calculate_full_price_temp()" min="0" class="form-control" id="full_price" name="full_price" ng-model="$root.form.full_price" required format>
                                    </div>
                                    <div class="input-group-btn col-md-4 col-sm-4 pull-right">
                                        <button id="place-bid-button" type="submit" ng-if="allow_bidding" ng-click="post_bid()" class="btn btn-success" ng-class="{'active': form.active}" translate>Place a bid</button>
                                        <button id="edit-bid-button" type="submit" ng-if="!allow_bidding" ng-click="edit_bid()" class="btn btn-link" translate>Edit</button>
                                        <button id="cancel-bid-button" type="submit" ng-if="!allow_bidding" ng-click="post_bid(-1)" class="btn btn-danger" ng-class="{'active': form.active}" translate>Cancel Bid</button>
                                        <button id="clear-bid-button" type="submit" ng-if="allow_bidding" ng-click="($root.form.full_price = '');($root.form.bid_temp = null);($root.form.bid = null)" class="btn btn-primary" translate>Clear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.container -->
    <script type="text/ng-template" id="templates/growl/growl.html">
        <div class="growl-container" ng-class="wrapperClasses()">
            <div class="growl-item alert" ng-repeat="message in growlMessages.directives[referenceId].messages" ng-class="alertClasses(message)">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="growlMessages.deleteMessage(message)" ng-show="!message.disableCloseButton">&times;</button>
                <button type="button" class="close" aria-hidden="true" ng-show="showCountDown(message)">{{message.countdown}}</button>
                <h4 class="growl-title" ng-show="message.title" ng-bind="message.title"></h4>
                <div class="growl-message"><span ngh-replace id="dir" content="message.text"></span></div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="templates/menu.html">
        <ul class="list-group">
              <li class="list-group-item">
                <span class="glyphicon glyphicon-info-sign text-primary pull-right" aria-hidden="true" style="font-size:2.5em; padding-left:0.2em"></span>
                <h4>{{ auction_doc.tenderID }}</h4>
                <p class="list-group-item-heading">
                    <strong ng-switch on="auction_doc.procuringEntity['name_'+ lang] == undefined" class="procuringEntity">
                        <span>{{ (auction_doc.procuringEntity['name_'+ lang]||auction_doc.procuringEntity.name||auction_doc.procuringEntity.name_en||auction_doc.procuringEntity.name_ru||"-") | characters:100 :true }}</span><span class="tenderTitle"> : {{ (auction_doc['title_'+ lang]||auction_doc.title||auction_doc.title_en||auction_doc.title_ru||"-") | characters:100 :true}} <span ng-if="auction_doc.lot">: {{(auction_doc.lot['title_'+ lang]||auction_doc.lot['title']||auction_doc.lot['title_en']||auction_doc.lot['title_ru']||"") | characters:300 :true}}</span></span>
                    </strong>
                </p>
                <p class="text-muted tenderDescription"><span>{{ ( auction_doc['description_'+ lang]||auction_doc.description||auction_doc.description||auction_doc.description||"" ) | characters:500 :true }} </span><span ng-if="auction_doc.lot">: {{(auction_doc.lot['description_'+ lang]||auction_doc.lot['description']||auction_doc.lot['description_en']||auction_doc.lot['description_ru']||"") | characters:500 :true}}</span></p>
                <p ng-repeat="item in auction_doc.items">
                    <span>{{ ( item['description_'+ lang] || item.description || item.description_en || item.description_ru || "-" ) | characters:100 :true }}</span> - {{ item.quantity|formatnumber }} <span>{{item.unit['name_'+ lang]||item.unit.name||item.unit['name_en']||item.unit['name_ru']||item.unit.code||"-" }}</span>
                </p>
                <p class="list-group-item-heading minimalStep" ng-if="auction_doc.minimalStep.amount"><span>{{ bid_step_msg|translate }}</span>: <strong>{{ auction_doc.minimalStep.amount|formatnumber }} {{ auction_doc.minimalStep.currency|translate }}</strong></p>
                <p class="list-group-item-heading tenderValue" ng-if="auction_doc.value.amount"><span translate>Start value</span>: {{ auction_doc.value.amount|formatnumber }} {{ auction_doc.minimalStep.currency|translate }}</p>
              </li>

              <li ng-if="clients" class="list-group-item">
                <p ng-repeat="(id, client) in clients">
                    <span ng-switch on="id == client_id">
                        <span ng-switch-when="false" translate>Client</span>
                        <span ng-switch-when="true" translate>You</span>
                    </span> - IP: {{ client.ip }}</p>
              </li>

            <li class="list-group-item">
                <p>Browser ID:<span >{{browser_client_id}}</span></p>
                <p>Session ID:<span >{{browser_session_id}}</span></p>
            </li>

              <li ng-if="form.bid" class="list-group-item">
                <h4 class="list-group-item-heading" translate>Your latest bid</h4>
                <p>{{ form.bid }}<p>
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading" translate>Language</h4>
                <div class="list-group-item-text">
                <div class="btn-group">
                  <button type="button" ng-click="changeLanguage('en')" class="btn btn-default navbar-btn" ng-class="{'active': lang == 'en'}">English</button>
                  <button type="button" ng-click="changeLanguage('uk')" class="btn btn-default navbar-btn" ng-class="{'active': lang == 'uk'}">Українська</button>
                  <button type="button" ng-click="changeLanguage('ru')" class="btn btn-default navbar-btn" ng-class="{'active': lang == 'ru'}">Русский</button>
                </div>
                </div>
              </li>
              <li ng-if="bidder_id" class="list-group-item"><a ng-href="logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span translate>Logout</span></a></li>
        </ul>

    </script>
    {% endraw %}
</body>

<script type=text/javascript>
var db_url = location.protocol + '//' + location.host + '/auctions';
var auction_doc_id = '{{ auction_doc_id }}';
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/UAParser.js/0.7.10/ua-parser.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjs/2.3.0/math.min.js"></script>
{% assets "all_js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

</html>